{
    "x-generator": "NSwag v14.6.2.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))",
    "openapi": "3.1.1",
    "info": {
        "title": "Umbraco Headless Management API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://management.umbracocompose.com"
        }
    ],
    "paths": {
        "/v1/projects/{projectAlias}/api-applications": {
            "post": {
                "tags": [
                    "ApiApplications"
                ],
                "summary": "Create an API application",
                "description": "Creates an API application that can be used by other software to call Management API endpoints.",
                "operationId": "CreateApiApplicationEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "CreateApiApplicationRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateApiApplicationRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiApplicationDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "scopes": {
                                                "project": [
                                                    "project"
                                                ],
                                                "environments": {
                                                    "development": [
                                                        "typeschema"
                                                    ]
                                                }
                                            },
                                            "clientSecret": "olTKxMM97/n9DshldPSxJA9KIuH9zQx~G.NabVYXw6/a8J4S9LDQenn.tvO1O3HJTT.woc/GEhkyx2c4ERPmiV+UkYuUChLJYp7M",
                                            "apiApplicationAlias": "my-api-application",
                                            "description": "My API Application",
                                            "clientId": "jlG1bopSKauhbblFbZswtXwcLaGLUKEpybMzdCjlNMp4LoAN1x"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": [
                            "User"
                        ]
                    }
                ]
            },
            "get": {
                "tags": [
                    "ApiApplications"
                ],
                "summary": "Get all API applications",
                "description": "Retrieves details of all API applications for a project.",
                "operationId": "GetProjectApiApplicationsEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "Count of items to return.",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 25,
                            "nullable": false
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Only return items after this cursor value.",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "includePageInfo",
                        "in": "query",
                        "description": "Whether or not to include pagination information in the response.",
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "nullable": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetProjectApiApplicationsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "OpenId": [
                            "User"
                        ]
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/api-applications/{apiApplicationAlias}": {
            "delete": {
                "tags": [
                    "ApiApplications"
                ],
                "summary": "Delete an API application",
                "description": "Deletes an API application.",
                "operationId": "DeleteApiApplicationEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "apiApplicationAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of the API application to delete.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "my-api-application"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "ApiApplications"
                ],
                "summary": "Get an API application by alias",
                "description": "Retrieves details of an API applications with a given alias.",
                "operationId": "GetApiApplicationByAliasEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiApplicationAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the API application to retrieve.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiApplicationDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": [
                            "User"
                        ]
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/api-applications/{apiApplicationAlias}/commands/regenerate-client-secret": {
            "post": {
                "tags": [
                    "ApiApplications"
                ],
                "summary": "Regenerate a client secret",
                "description": "Regenerates and returns the new client secret for a given API application.",
                "operationId": "RegenerateApiApplicationClientSecretEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "apiApplicationAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of the API application.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "my-api-application"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiApplicationDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "scopes": {
                                                "project": [
                                                    "project"
                                                ],
                                                "environments": {}
                                            },
                                            "clientSecret": "HLPUOYefWivMb1-fvX~rq3cY6nsQQqUe90qhAUdB~DgK5YR8okgrz9tcK1zCp/cemwkfCPm2Gw1uY9z~2kuRvG/5FBHu~.Bct~FP",
                                            "apiApplicationAlias": "my-api-application",
                                            "description": "My API Application",
                                            "clientId": "client-id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/api-applications/{apiApplicationAlias}/commands/rename": {
            "post": {
                "tags": [
                    "ApiApplications"
                ],
                "summary": "Rename an API Application",
                "description": "Renames an API Application.",
                "operationId": "RenameApiApplicationEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "apiApplicationAlias",
                        "in": "path",
                        "required": true,
                        "description": "Current alias of the API application to rename.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "my-api-application"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "RenameApiApplicationRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RenameApiApplicationRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiApplicationDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "scopes": {
                                                "project": [
                                                    "project"
                                                ],
                                                "environments": {}
                                            },
                                            "clientSecret": null,
                                            "apiApplicationAlias": "my-api-application",
                                            "description": "My API Application",
                                            "clientId": "client-id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/api-applications/{apiApplicationAlias}/commands/update-description": {
            "put": {
                "tags": [
                    "ApiApplications"
                ],
                "summary": "Update the description of an API Application",
                "description": "Updates the description of an API Application.",
                "operationId": "UpdateApiApplicationDescriptionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "apiApplicationAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of the API application to update.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "my-api-application"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "UpdateApiApplicationDescriptionRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateApiApplicationDescriptionRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiApplicationDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "scopes": {
                                                "project": [
                                                    "project"
                                                ],
                                                "environments": {}
                                            },
                                            "clientSecret": null,
                                            "apiApplicationAlias": "my-api-application",
                                            "description": "My API Application",
                                            "clientId": "client-id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/api-applications/{apiApplicationAlias}/commands/update-scopes": {
            "put": {
                "tags": [
                    "ApiApplications"
                ],
                "summary": "Update the scopes of an API Application",
                "description": "Updates the scopes of an API Application.",
                "operationId": "UpdateApiApplicationScopesEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "apiApplicationAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of the API application to update.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "my-api-application"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "UpdateApiApplicationScopesRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateApiApplicationScopesRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiApplicationDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "scopes": {
                                                "project": [
                                                    "project:write"
                                                ],
                                                "environments": {
                                                    "development": [
                                                        "typeschema"
                                                    ]
                                                }
                                            },
                                            "clientSecret": null,
                                            "apiApplicationAlias": "my-api-application",
                                            "description": "My API Application",
                                            "clientId": "client-id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}/collections": {
            "post": {
                "tags": [
                    "Collections"
                ],
                "summary": "Create a collection",
                "description": "Creates a collection that can be used to store and group content.",
                "operationId": "CreateCollectionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment on which to create a collection.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "development"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "CreateCollectionRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCollectionRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Collections"
                ],
                "summary": "Get collections for an environment",
                "description": "Retrieves details for all collections that belong to a given environment.",
                "operationId": "GetEnvironmentCollectionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment for which to retrieve collections.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "Count of items to return.",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 25,
                            "nullable": false
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Only return items after this cursor value.",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "includePageInfo",
                        "in": "query",
                        "description": "Whether or not to include pagination information in the response.",
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "nullable": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEnvironmentCollectionsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}/collections/{collectionAlias}": {
            "delete": {
                "tags": [
                    "Collections"
                ],
                "summary": "Delete a collection",
                "description": "Deletes a collection and all content in it. This is an extremely destructive operation that cannot be undone.",
                "operationId": "DeleteCollectionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment from which to delete a collection.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "development"
                            }
                        }
                    },
                    {
                        "name": "collectionAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the collection to delete.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "content"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Collections"
                ],
                "summary": "Get a collection by alias",
                "description": "Retrieves details for a collection with a given alias.",
                "operationId": "GetCollectionByAliasEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment from which to retrieve the collection.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "collectionAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the collection to retrieve.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}/collections/{collectionAlias}/commands/rename": {
            "post": {
                "tags": [
                    "Collections"
                ],
                "summary": "Rename a collection",
                "description": "Changes the alias of a given collection, immediately making it unavailble for retrieving content using the former name.",
                "operationId": "RenameCollectionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment on which to rename the collection.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "production"
                            }
                        }
                    },
                    {
                        "name": "collectionAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the collection to rename.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "content"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "RenameCollectionRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RenameCollectionRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "collectionAlias": "media",
                                            "description": "Collection description"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}/collections/{collectionAlias}/commands/update-description": {
            "put": {
                "tags": [
                    "Collections"
                ],
                "summary": "Update description of a collection",
                "description": "Changes the description of a collection.",
                "operationId": "UpdateCollectionDescriptionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment on which to update the collection.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "development"
                            }
                        }
                    },
                    {
                        "name": "collectionAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the collection to update.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "content"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "UpdateCollectionDescriptionRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCollectionDescriptionRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "collectionAlias": "content",
                                            "description": "New Description"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments": {
            "post": {
                "tags": [
                    "Environments"
                ],
                "summary": "Create an environment",
                "description": "Creates a environment for a given project. Environments are used to separate development, testing, and live content and applications.",
                "operationId": "CreateEnvironmentEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "CreateEnvironmentRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEnvironmentRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvironmentDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "environmentAlias": "development",
                                            "description": "Environment description"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Environments"
                ],
                "summary": "Get environments for a project",
                "description": "Retrieves details for all environments that belong to a given project.",
                "operationId": "GetProjectEnvironmentsEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "Count of items to return.",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 25,
                            "nullable": false
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Only return items after this cursor value.",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "includePageInfo",
                        "in": "query",
                        "description": "Whether or not to include pagination information in the response.",
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "nullable": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetProjectEnvironmentsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}": {
            "delete": {
                "tags": [
                    "Environments"
                ],
                "summary": "Delete an environment",
                "description": "Deletes an environment and everything in it. This is an extremely destructive operation that cannot be undone.",
                "operationId": "DeleteEnvironmentEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment to delete.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "development"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Environments"
                ],
                "summary": "Get an environment by alias",
                "description": "Retrieves details for an environment with a given alias.",
                "operationId": "GetEnvironmentByAliasEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment to retrieve.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvironmentDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}/commands/rename": {
            "post": {
                "tags": [
                    "Environments"
                ],
                "summary": "Rename an environment",
                "description": "Changes the alias of a given environment.",
                "operationId": "RenameEnvironmentEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment to rename.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "development"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "RenameEnvironmentRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RenameEnvironmentRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvironmentDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "environmentAlias": "dev",
                                            "description": "Environment description"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}/commands/update-description": {
            "put": {
                "tags": [
                    "Environments"
                ],
                "summary": "Update description of an environment",
                "description": "Changes the description of an environment.",
                "operationId": "UpdateEnvironmentDescriptionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment to update.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "development"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "UpdateEnvironmentDescriptionRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateEnvironmentDescriptionRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvironmentDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "environmentAlias": "development",
                                            "description": "New Description"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}/functions/ingestion": {
            "post": {
                "tags": [
                    "IngestionFunctions"
                ],
                "summary": "Create an ingestion function",
                "description": "Creates a function to map custom ingestion payloads to a format that can be interpreted by Umbraco Compose.",
                "operationId": "CreateIngestionFunctionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "The environment on which to create the ingestion function.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "production"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "CreateIngestionFunctionRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateIngestionFunctionRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IngestionFunctionDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "script": "export default function(data) {\n  const { id, variant, contentTypeAlias, ...entry } = data\n  return [{ action: 'add', id: id, variant: variant, type: contentTypeAlias, data: entry }]\n}",
                                            "ingestionFunctionAlias": "umbraco-content",
                                            "description": "Maps Umbraco Content"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "IngestionFunctions"
                ],
                "summary": "Get all ingestion functions",
                "description": "Retrieves all the ingestion functions for an environment.",
                "operationId": "GetEnvironmentIngestionFunctionsEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment from which to retrieve ingestion functions.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "Count of items to return.",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 25,
                            "nullable": false
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "Only return items after this cursor value.",
                        "schema": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    },
                    {
                        "name": "includePageInfo",
                        "in": "query",
                        "description": "Whether or not to include pagination information in the response.",
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "nullable": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEnvironmentIngestionFunctionsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}/functions/ingestion/{ingestionFunctionAlias}": {
            "delete": {
                "tags": [
                    "IngestionFunctions"
                ],
                "summary": "Delete an ingestion function",
                "description": "Deletes an ingestion function, making it immediately unavailable for ingesting content.",
                "operationId": "DeleteIngestionFunctionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment from which to delete the function.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "umbraco-content"
                            }
                        }
                    },
                    {
                        "name": "ingestionFunctionAlias",
                        "in": "path",
                        "required": true,
                        "description": "Unique alias of the function to delete.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "production"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "IngestionFunctions"
                ],
                "summary": "Get an ingestion function by alias",
                "description": "Retrieves details for an ingestion function with a given alias.",
                "operationId": "GetIngestionFunctionByAliasEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment from which to retrieve the function.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ingestionFunctionAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the function to retrieve.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IngestionFunctionDto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}/functions/ingestion/{ingestionFunctionAlias}/commands/rename": {
            "post": {
                "tags": [
                    "IngestionFunctions"
                ],
                "summary": "Rename an ingestion function",
                "description": "Changes the alias of a given ingestion function, making it immediately unavailable for ingesting content with the former name.",
                "operationId": "RenameIngestionFunctionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment on which to rename the function.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "production"
                            }
                        }
                    },
                    {
                        "name": "ingestionFunctionAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the function to rename.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "umbraco-content"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "RenameIngestionFunctionRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RenameIngestionFunctionRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IngestionFunctionDto"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OpenId": []
                    }
                ]
            }
        },
        "/v1/projects/{projectAlias}/environments/{environmentAlias}/functions/ingestion/{ingestionFunctionAlias}/commands/update-description": {
            "put": {
                "tags": [
                    "IngestionFunctions"
                ],
                "summary": "Update description for an ingestion function",
                "description": "Changes the description of a given ingestion function.",
                "operationId": "UpdateIngestionFunctionDescriptionEndpoint",
                "parameters": [
                    {
                        "name": "projectAlias",
                        "in": "path",
                        "required": true,
                        "description": "The alias of your Umbraco Compose project.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "considerate-cute-otter"
                            }
                        }
                    },
                    {
                        "name": "environmentAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the environment on which to update the function.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "production"
                            }
                        }
                    },
                    {
                        "name": "ingestionFunctionAlias",
                        "in": "path",
                        "required": true,
                        "description": "Alias of the function to update.",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "default": {
                                "value": "umbraco-content"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "x-name": "UpdateIngestionFunctionDescriptionRequest",
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateIngestionFunctionDescriptionRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-position": 1
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IngestionFunctionDto"
                                },
                                "examples": {
                                    "default": {
                                        "value": {
                                            "script": "export default function(data) {\n  const { id, variant, contentTypeAlias, ...entry } = data\n  return [{ action: 'add', id: id, variant: variant, type: contentTypeAlias, data: entry }]\n}",
                                            "ingestionFunctionAlias": "umbraco-content",
                                            "description": "Transforms Umbraco Content"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
[...]
